language: c

env:
  global:
    - R_BUILD_ARGS="--no-manual"
    - R_CHECK_ARGS="--no-manual --as-cran"

before_install:
  - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap
  - ./travis-tool.sh github_package testthat
  - cd ..
  - git clone https://github.com/romainfrancois/Rcpp-test.git
  - cp -frv Rcpp-test/tests Rcpp98/
  - sed -e "s/Rcpp/Rcpp98/" Rcpp-test/tests/test-all.R > Rcpp98/tests/test-all.R
  - cd Rcpp98
    
script: 
  - ./travis-tool.sh run_tests
  
after_script:
  - ./travis-tool.sh dump_logs
  
notifications:
  email:
    on_success: change
    on_failure: change

    

